@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
/* CSS HEX */
--black-olive: #423e3b;
--scarlet: #ff2e00;
--orange-web: #fea82f;
--cream: #fffecb;
--iris: #5448c8;

/* CSS HSL */
--black-olive: hsla(26, 6%, 25%, 1);
--scarlet: hsla(11, 100%, 50%, 1);
--orange-web: hsla(35, 99%, 59%, 1);
--cream: hsla(59, 100%, 90%, 1);
--iris: hsla(246, 54%, 53%, 1);